@import "./vars.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// for a real production build, you only want to load the font weights you will use

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  // there are some more shenanigens you have to do if you want to
  // make the Golden Layout work in ie 11
}

.main--header-container {
  box-sizing: border-box;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $paddingMedium $paddingSmall;
  border-bottom: 2px solid $lightGrey;
  width: 100%;
}

.main--header-title {
  margin: 0;
}

.main--content-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main--section-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $paddingMedium $paddingSmall;
}

.main--footer {
  // thin content footer example
  background-color: $blue;
  height: $paddingMedium;
}